*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.card-img-top {
    height: 400px;
    width: 100%;
}

.grid-text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .container-fluid {
    background-image: url("../images/hero.jpg") ;
    background-size: cover;
    background-position: center center;
  }

  .grid-text-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

  }

  .contact a {
    color: #ee2f2f;
    font-size: 25px;
  }